body {
  background-color: rgb(212, 210, 210);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  width: 450px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(39, 4, 167);
  box-shadow: rgb(53, 52, 52) 0 4px 8px 0;
}

h1,
h2 {
  margin: 30px auto;
}
