.name {
  font-size: 20px;
  color: rgb(214, 10, 10);
}

.number {
  font-size: 20px;
  color: blue;
  margin-left: 10px;
}

.buttonDelete {
  font-size: 16px;
  background-color: yellow;
  margin-left: 10px;
  border-radius: 8px;
}
